{% extends "layouts/site-top.njk" %}

{% block title %}Layout :: the-wheels-css{% endblock %}

{% block content %}
<main id="main">
  <hgroup class="heading-group">
    <h1>Layout</h1>
    <p class="description">レイアウトは、ページの構造を定義するための技術です。</p>
  </hgroup>

  <section class="container">
    <h2>Container</h2>
    <p>Containerは、コンテンツの一番外側となる領域です。常に、main要素相当の直下にあると考えます。</p>
  </section>
  
</main>
{% endblock %}