{% extends "layouts/site-top.njk" %}

{% block title %}Home - the-wheels-css{% endblock %}

{% block content %}
<p>ここは、開発用のサンプルページです。</p>

<nav>
  <ul>
    <li><a href="/typography/">Typography</a></li>
    <li><a href="/buttons/">Buttons</a></li>    
    <li>...etc</li>
  </ul>
</nav>
{% endblock %}

