/**
 * CSS Layers - レイヤー順序定義
 * 
 * このファイルでレイヤーの優先順位を定義します。
 * 後に定義されたレイヤーほど優先度が高くなります。
 * 
 * 変更する場合はここを編集してください。
 */

 @layer twls-reset, twls-typography, twls-layout, twls-components, twls-utilities;

@import 'reset-css' layer(twls-reset);
@import 'typography/_main' layer(twls-typography);
@import 'layout/_main' layer(twls-layout);

:root {
  --twls-main-text-color: #434343;
  --twls-main-text-strong: #000000;
}

html, body {
  font-size: 62.5%;
  color: var(--twls-main-text-color);
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
}

* {
  box-sizing: border-box;
}