{% extends "layouts/site-top.njk" %}

{% block title %}Typography :: the-wheels-css{% endblock %}

{% block content %}
<main id="main">
  <div class="container">
    <hgroup class="heading-group">
      <h1>Typography</h1>
      <p class="description">タイポグラフィは、文章を読みやすく、美しく、魅力的に見せるために文字を配置する技術およびアートです。</p>
    </hgroup>
  </div>
</main>
{% endblock %}